

:root{
    --ham_size:48px;
    --c_naranja: rgb(194, 113, 8);
    --c_rosa:rgb(202, 166, 149);

}
/* FINALIZAR */


#menuFinalizar {
    position: relative;
    border-bottom: 1px dotted black;
   
  }
  
#menuFinalizar .tooltipFinalizar {
    visibility: hidden;
    width: 300px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
  
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    left:-180px;
    top:26px;
  }
   
#menuFinalizar:hover .tooltipFinalizar {
    visibility: visible;
  }

.tooltipFinalizar button{
    font-family: 'Caveat Brush', cursive;
    font-size: 20px;
    padding: 5px;    
    border-radius: 5px;
    border-style: none;
    background: var(--c_naranja);
  }

header .elementos input, header .elementos i{
    display: none;
}

/* MENU */

 header .elementos  nav{
    background:rgba(255, 255, 255, 0.705);
    width: 100%;
    position: relative;
}
header .elementos  nav {  
    width: 100%;
    margin: auto;
    display: flex;  
    
}
header .elementos nav div{
    width: 200px;
    margin: 10px;
    text-align: center;
    list-style: none;
}
header .elementos nav div:hover{
    background:var(--color-naranja);
    border-radius: 5px;
    color: white
}

/* empresa */

.empresa{
    display: flex;
    width: 100%;
}
.elementos{
    
}
.empresa .c-logo{
     
    width: 30%;
    height: 200px;
    display: flex;
}
.empresa .c-logo img{
    width: 95%;
    margin: auto;   
}
.empresa .c-mensaje{
    width: 70%;
    display: flex;
    justify-content: center;
}
.empresa .c-mensaje p{   
    text-align:center;  
    width: auto;
    margin: auto;
    display: block;
}


@media (max-width:600px) {

/* menu */
    .c-menu{
        display: block;
    }
    header .elementos  nav {  
        margin: 0;
    }
    header .elementos nav div{
        text-align: left;
    }

/* HAMBURGUESA */
:root{
    --ham_size:35px; 
}
    header .elementos{
        width: 15%;
       
    }
    header .elementos input, header .elementos i{
        display: block;
    }
    header .elementos nav {
    color: inherit;
    text-decoration: none;
    display: block;
    padding: 10px 20px;
    border-bottom: 2px solid var(--c_rosa);
    max-width: 120px;
    background: #454948;;
    font-variant: small-caps;
    text-shadow: 1px 1px black;
  }
  header .elementos input[type="checkbox"], .c-menu .fa-bars, .c-menu .fa-times {
    position: absolute;  
    margin: 0;
    padding: 0;
    right: 7px;
    top:7px;
    width: var(--ham_size);
    height:var(--ham_size);
  }
  
  header .elementos .fa-bars,header .elementos .fa-times {
    font-size: var(--ham_size);
    pointer-events: none;
  }
    
    header .elementos input {
    opacity: 0; 
  }
 
  header {
    color: white;
    position: relative; 
    background: var(--c_naranja);
    min-height: 55px;
  }
    
  header .elementos nav {
      position: absolute;
      top: 55px;
      right: 0;
    display: none;
    
  }
  
  header input:checked ~ nav {
    display: block;
  }
    
  header .elementos input:checked ~ .fa-bars {
    display: none;
  }
   
  header .elementos input:not(:checked) ~ .fa-times {
    display: none;
  }
  /* FINALIZAR */
  #menuFinalizar .tooltipFinalizar { 
    left:-200px;
  }

  .empresa{ 
      max-height: 50px;
  }

    .empresa .c-logo{
        max-height: 55px;
    }
    .empresa .c-mensaje{
        width: 50%;
    }
    .empresa .c-logo img{
        height: 100%;
        width: auto
    }

    header .elementos nav div{
        width: auto;
    }
}