body{
    max-width: 900px;
    margin: auto;
}

#c-productos-bocadillos{
    display: flex;
}
#c-productos-bebidas{
    display: flex;
}

.c-desplazamiento{ 
    width: 100%;
    margin-top: 50px;
}
.c-arrow-izq, .c-arrow-dch{ 
    display: inline-block;
    width: auto;
    padding: 10px;
}
.c-arrow-dch{
    float: right;
}
