html{
    background-image:linear-gradient(rgba(255,255,255,.1), rgba(255,255,255,.3)), url("../images/fondo-tabla-verduras-colorido.jpg") ;
    background-repeat:no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed; 
    width: 100%; 
}

body{
    max-width: 950px;
    margin: auto;
    font-family: 'Caveat', cursive;
    background: rgba(139, 195, 169, 0.582);
}

#c-productos-bocadillos{
    display: flex;
}
#c-productos-bebidas{
    display: flex;
}

.c-desplazamiento{ 
    width: 100%;
    margin-top: 50px;
}
.c-arrow-izq, .c-arrow-dch{ 
    display: inline-block;
    width: auto;
    padding: 10px;
}
.c-arrow-dch{
    float: right;
}

@media only screen and (max-width: 1000px) {

}